body {
	font: 20px/1.2 'Times new Roman', Georgia, Serif;
}
.clear-fix:after {
	display: table;
	clear: both;
	content: '';
}

.navigation,
.block {
	padding: 0px 0 76px 0;
}

h2 {
	padding-bottom: 39px;
	color: #0051ac;
	font-size: 48px;
}

h2::first-letter {
	color: #ff0000;
}

menu:not(:last-child) {
	padding-bottom: 50px;
}

.arrow {
	position: relative;
}

.arrow::after {
	position: absolute;
	top: 50%;
	right: 10px;
	transform: translateY(-50%);
	content: '>';
}

.submenu-2 li.arrow::after {
	right: calc(100% - 20px);
	transform: ScaleX(-1) translateY(-50%);
}

a {
	display: block;
	height: 100%;
	padding: 6px 0 8px;
	color: #000;
}

.wrapper {
	max-width: 880px;
	margin: 72px auto;
}

li {
	height: 38px;
	background-color: #cfcfcf;
	cursor: pointer;
}

.navbar-top > li,
.navbar-middle > li,
.navbar-bottom__menu-1 > ul > li,
.navbar-bottom__menu-2 > ul > li {
	position: relative;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

menu > li:not(:last-child) {
	border-right: 1px solid #ffffff;
}

.navbar-middle {
	table-layout: fixed;
}

.table,
.navbar-top ul > li,
.navbar-middle ul > li {
	display: table;
	width: 100%;
}

.top-submenu {
	border-top: 1px solid #ffffff;
}

.table-cell,
.navbar-top ul > li a,
.navbar-middle ul > li a {
	display: table-cell;
	vertical-align: middle;
}

.navbar-top li ul li a,
.navbar-middle li ul li a,
.navbar-bottom__menu-1 li ul li a {
	padding-left: 24px;
	text-align: left;
}

.navbar-middle .t-c-long {
	width: 375px;
}

.navbar-middle .submenu-1 li {
	background-color: #c8c8fd;
}

.navbar-middle .submenu-2 > li > a {
	padding-right: 18px;
	text-align: right;
	background-color: #8fcb9c;
}

menu.navbar-top li.table-cell > a {
	padding-right: 12px;
	padding-left: 12px;
}

.navbar-middle .submenu-3 li {
	background-color: #e7a79f;
}

.navbar-top > li:nth-child(even) {
	width: 153px;
	cursor: auto;
}

.navbar-top li:hover,
.navbar-middle li:hover {
	background-color: #afafaf;
}

.navbar-bottom__menu-2 .table li {
	padding-right: 6px;
}

.navbar-bottom__menu-1 > ul > li:not(:last-child),
div.table .table-cell:not(:last-child),
div.table .table-cell:first-child {
	border-right: 1px solid #ffffff;
}

.navbar-top li ul li:not(:last-child),
.navbar-middle li ul li:not(:last-child),
.navbar-bottom__menu-1 .top-submenu > li:not(:last-child),
.navbar-bottom__menu-1 .trow:not(:last-child) li {
	border-bottom: 1px solid #ffffff;
}

.navbar-bottom__menu-1 .table li:hover {
	background-color: #afafaf;
}

.submenu-1 li:hover.arrow::after {
	transform: scaleX(-1) translateY(-50%);
}

.submenu-2 li:hover.arrow::after {
	transform: scaleX(1) translateY(-50%);
}

.navbar-top > li:nth-child(even):hover {
	background-color: #cfcfcf;
}

menu li ul {
	position: absolute;
	z-index: 999;
	display: none;
}

.navbar-top li > ul,
.submenu-1,
.navbar-bottom__menu-1 .table li ul {
	top: 100%;
	width: 176px;
}

.submenu-2,
.submenu-3 {
	top: 0;
}

.submenu-2 {
	left: 100%;
	width: 224px;
	border-left: 1px solid #ffffff;
}

.submenu-3 {
	right: calc(100% + 1px);
	width: 107px;
}
.navbar-top li:last-child ul {
	right: 0;
}

.navbar-top li:hover > ul,
.navbar-middle li:hover > ul,
.navbar-bottom .table li:hover > ul {
	display: block;
}

/*--*/

/* .navbar-top {
	display: none;
} */

/* .navbar-middle {
	display: none;
} */

/* .navbar-bottom {
	display: none;
} */

/*--*/

.navbar-bottom__menu-2 {
	width: 275px;
}

.navbar-bottom__menu-1,
.navbar-bottom__menu-2 {
	display: table-cell;
	vertical-align: middle;
	cursor: auto;
}

.navbar-bottom__menu-1 > .table {
	position: relative;
	z-index: 0;
}

.navbar-bottom .navbar-bottom__menu-1 > ul > li > a {
	padding-right: 24px;
	padding-left: 24px;
}

.navbar-bottom__menu-2 .table {
	position: relative;
	z-index: 0;
	float: right;
	width: 0;
}

.navbar-bottom__menu-1 div.table {
	position: absolute;
	top: 100%;
	display: none;
	width: 505px;
	table-layout: fixed;
	background-color: #cfcfcf;
	cursor: auto;
}

.navbar-bottom__menu-1 .trow {
	position: static;
	display: table-row;
}

.navbar-bottom__menu-1 div.table .nohover:hover {
	background-color: transparent;
	cursor: auto;
}

.navbar-bottom__menu-1 li:hover div.table {
	display: table;
}

a.sprite {
	position: relative;
	display: table-cell;
	width: 32px;
	height: 32px;
}

.sprite::before {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 32px;
	height: 32px;
	background: url(../img/sprite_with-hover.png) 0 0;
	content: '';
}

.i-s.sprite::before {
	background-position: -34px 0px;
}

.sprite.i-g::before {
	background-position: -68px 0px;
}

.sprite.i-t::before {
	background-position: -102px 0px;
}

.navbar-bottom__menu-1 a.sprite.i-h {
	display: block;
	width: auto;
	height: 100%;
	padding-left: 57px;
	text-align: left;
}

.sprite.i-h::before {
	top: 3px;
	left: 20px;
}

.sprite:hover::before {
	z-index: 999;
	background-position-y: -34px;
	transform: scale(1.1);
}

.table-block {
	width: 100%;
	text-align: center;
	vertical-align: middle;
	border-collapse: collapse;
}

.table-block .row span {
	display: table-cell;
	padding: 7px 5px 7px 7px;
	text-align: center;
	vertical-align: middle;
}

th,
td {
	padding: 7px 5px 7px 7px;
}

tr,
.row {
	background-color: #cfcfcf;
}

th,
.row:first-child span {
	font-weight: 700;
	background-color: #afafaf;
}

th,
tr:not(:last-child),
.row:not(:last-child) {
	border-bottom: 1px solid #ffffff;
}

th:not(:last-child),
td:not(:last-child),
.row span:not(:last-child) {
	border-right: 1px solid #ffffff;
}

tr:nth-child(odd),
.row:nth-child(odd) {
	background-color: #dfdfdf;
}

.col-name,
.row span:nth-child(2) {
	width: 470px;
	padding-left: 21px;
	text-align: left;
}

.align-right,
.row:not(:first-child) span:nth-child(n + 3) {
	padding-right: 13px;
	text-align: right;
}

tbody tr:hover,
.row:not(:first-child):hover {
	background-color: #bfbfbf;
	cursor: pointer;
}

span.table-block {
	display: table;
}

span.row {
	display: table-row;
}

dl {
	display: table-row;
}

dt,
dd {
	display: table-cell;
	height: 39px;
	vertical-align: middle;
	background-color: #cfcfcf;
}

dt {
	width: 255px;
	padding-left: 40px;
	font-weight: 700;
	font-style: italic;
	border-right: 1px solid #fff;
}

dd {
	width: 157px;
	padding-right: 9px;
	text-align: right;
}

dl:not(:last-child) dt,
dl:not(:last-child) dd {
	border-bottom: 1px solid #fff;
}

dt.sprite {
	position: relative;
}

dt.sprite::before {
	top: 50%;
	left: 4px;
	transform: translateY(-50%);
}

.i-weight.sprite::before {
	background-position: -136px 0px;
}
.i-size.sprite::before {
	background-position: -170px 0px;
}
.i-power.sprite::before {
	background-position: -204px 0px;
}
.i-price.sprite::before {
	background-position: -238px 0px;
}

dl:hover .sprite::before {
	z-index: 999;
	background-position-y: -34px;
	transform: scale(1.1) translateY(-50%);
}

dl:hover dt,
dl:hover dd {
	font-weight: 700;
	font-size: 1.05em;
	background-color: #bfbfbf;
	cursor: pointer;
}
